name: test
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Lint codebase
        run: npm run lint

      - name: Check type
        run: npm run lint:tsc

      - name: Run tests
        run: npm run test:ci

      - name: Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Run action
        uses: ./
        with:
          version: ''
          name: ''

      - name: Get version
        run: ollama --version

      - name: Show help
        run: ollama --help

  # action should work on a clean machine without building
  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        version: [0.5.10]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0

      - name: Cache ollama
        uses: actions/cache@v4
        with:
          path: ~/.ollama
          key: ${{ runner.os }}-ollama

      - name: Run action
        uses: ./
        with:
          version: ${{ matrix.version }}
          name: ollama-cli

      - name: Locate binary
        run: command -v ollama-cli

      - name: Check version
        shell: bash
        run: |
          if [[ "$(ollama-cli --version)" != *'${{ matrix.version }}'* ]]; then
            echo 'Version does not match. See version below:'
            ollama-cli --version
            exit 1
          fi

      - name: Run LLM
        run: ollama-cli run tinyllama 'Explain the basics of machine learning.'
